/* Scss Document */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    color: black;
	counter-reset: section; 
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.container {
	margin: 0 auto 20px;
	max-width: calc(100% - 20px);
}