/* Scss Document */

article footer {
	background-color: $mainColor;
	height: 2em;
	padding-left: 15px;
	display: flex;
	align-items: center;
	color: white;
	margin-top: auto;
	position: relative;
	bottom: 0;
}


a, a:active, a:visited, a:hover {
	color: white;
	display: inline;
	text-decoration: none;
}

a:nth-child(odd) {
	margin-right: 20px;
}