/* Scss Document */

.heading {
	color: white;
	font-family: 'Arimo', sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
	margin: 20px 0 20px 0;
}

.item-header {
	font-size: 1.5em;
	margin-bottom: 10px;
}

p {
	line-height: 1.5em;
}