* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #6c5ce7;
}

#app {
  background-color: #eee;
  font-family: 'Raleway', sans-serif;  
  font-size: 36px;
  max-width: 95%;
	margin-left: auto;
  margin-right: auto;
	margin-top: 20px;
	border-radius: 5px;
	padding: 25px;
}

@media (min-width: 1000px) {
  #app {
    max-width: 65%;
  }
}

button {
  color: white;
  line-height: 41px;
	border: thin solid;
	border-radius: 5px;
  display: block;
	width: 100%;
	padding: 25px;
}

button.defaultState {
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
  border-color: #45484d;
}

button:not(.defaultState) {
  background: linear-gradient(to bottom, #3d4044 0%,#000000 100%);
  border-color: #3d4044;
}

p {
  min-height: 93px;
	padding: 25px;
	margin-bottom: 20px;
}

path {
  fill-opacity:1;
  fill-rule:nonzero;
  stroke:none
}

#path24 {
  fill:#292f33;
}

#path28 {
  fill:#e1e8ed;
}

#path32 {
  fill:#292f33;
}

svg {
  enable-background:new 0 0 47.5 47.5;
  height: 300px;
  width: 300px;
	margin-left: auto;
  margin-right: auto;
	display: block;
}

h1 {
  margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}