* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Raleway', sans-serif;  
  font-size: 36px;
  max-width: 50%;
}

button {
  color: white;
  line-height: 41px;
}

button.defaultState {
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
  border-color: #45484d;
}

button:not(.defaultState) {
  background: linear-gradient(to bottom, #3d4044 0%,#000000 100%);
  border-color: #3d4044;
}

h1 {
  text-align: center;
}

input {
  border-color: #aaa;
}

input:focus {
  border-color: black;
  outline: none;
}

p {
  min-height: 93px;
}

svg {
  height: 300px;
  width: 300px;
}

.border_base {
  border-radius: 5px;  
  border-style: solid;
  border-width: thin;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.display_block {
  display: block;
}

.mb_20px {
  margin-bottom: 20px;
}

.mt_20px {
  margin-top: 20px;
}

.pad_25 {
  padding: 25px;
}

path {
  fill-opacity:1;
  fill-rule:nonzero;
  stroke:none
}

#path24 {
  fill:#292f33;
}

#path28 {
  fill:#e1e8ed;
}

#path32 {
  fill:#292f33;
}

.width_100 {
  width: 100%;
}